* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 18px;
}

header {
  height: 100px;
  width: 100%;
  padding: 10px;
  background-color: #060606;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-left img {
  margin-left: 20px;
}

.header-right ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: baseline;
}
.header-right ul li {
  margin: 20px;
}
.header-right ul li a {
  text-decoration: none;
  color: #bcbcbc;
  font-weight: 500;
}
.header-right ul li a:hover {
  color: #ffffff;
}
.header-right ul li span {
  padding: 5px 7px;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 500;
  color: #060606;
  background-color: #FFF941;
}

.blue-button {
  padding: 15px 30px;
  color: #ffffff;
  cursor: pointer;
  border-radius: 40px;
  background-color: #4154FF;
  font-weight: 500;
  font-size: 14px;
}
.blue-button:hover {
  background-color: #ec5a57;
}

.jumbotron {
  height: 570px;
  width: 100%;
  background-color: #060606;
  background-image: linear-gradient(90deg, #060606 45%, rgba(6, 6, 6, 0) 75%), url("../img/slider82x-scaled.jpg");
  background-position: top right;
  background-size: cover;
}
.jumbotron .container {
  height: 100%;
  padding: 0 90px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.jumbo-left h3 {
  padding-top: 100px;
  font-size: 27px;
  font-weight: 500;
  color: #ec5a57;
}
.jumbo-left h1 {
  font-size: 75px;
  font-weight: 500;
  color: #ffffff;
}
.jumbo-left span {
  font-size: 23px;
  font-weight: 500;
  color: #bcbcbc;
}
.jumbo-left ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: baseline;
  margin-top: 50px;
}
.jumbo-left ul li {
  font-size: 18px;
}
.jumbo-left ul li:nth-child(2) {
  margin-left: 10px;
}
.jumbo-left ul .trasparent-button {
  padding: 15px 30px;
  color: #ffffff;
  cursor: pointer;
  border-radius: 40px;
  border: 2px solid #bcbcbc;
  font-weight: 500;
}
.jumbo-left ul .trasparent-button:hover {
  background-color: #ffffff;
  border: 2px solid #ffffff;
  color: #000000;
}
.jumbo-left ul i {
  vertical-align: middle;
}

.jumbo-right {
  height: 100%;
  width: 30%;
  position: relative;
}
.jumbo-right .jumbo-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(20%, -84%);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #ffffff;
}
.jumbo-right .jumbo-video i {
  color: #4154FF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.jumbo-right .jumbo-video:hover i {
  color: #ec5a57;
}

.main-top {
  height: 930px;
  width: 100%;
  background-image: linear-gradient(150deg, #0219eb 0%, #d5000b 100%);
}
.main-top .container {
  height: 100%;
  padding: 0 90px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-top .container .box-image, .main-top .container .box-image2, .main-top .container .box-image3 {
  height: 400px;
  width: 360px;
  border-radius: 4px 4px 40px 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.main-top .container .box-image h5, .main-top .container .box-image2 h5, .main-top .container .box-image3 h5 {
  font-size: 35px;
  font-weight: 500;
  color: #ffffff;
}
.main-top .container .box-image span, .main-top .container .box-image2 span, .main-top .container .box-image3 span {
  font-size: 25px;
  font-weight: 500;
  color: #FFF941;
  margin-bottom: 45px;
}
.main-top .container .box-image {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 11%, rgba(0, 0, 0, 0.7) 100%), url("../img/box1.jpg");
  transform: translateY(-17%);
}
.main-top .container .box-image2 {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 11%, rgba(0, 0, 0, 0.7) 100%), url("../img/box2.jpg");
  transform: translateY(-17%);
}
.main-top .container .box-image3 {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 11%, rgba(0, 0, 0, 0.7) 100%), url("../img/box3.jpg");
  transform: translateY(-17%);
}
