* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 18px;
}

header {
  height: 100px;
  width: 100%;
  padding: 10px;
  background-color: #060606;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-left img {
  margin-left: 20px;
}

.header-right ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: baseline;
}
.header-right ul li {
  margin: 20px;
}
.header-right ul li a {
  text-decoration: none;
  color: #bcbcbc;
  font-weight: 500;
}
.header-right ul li a:hover {
  color: #ffffff;
}
.header-right ul li span {
  padding: 5px 7px;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 500;
  color: #060606;
  background-color: #FFF941;
}

.blue-button {
  padding: 15px 30px;
  color: #ffffff;
  cursor: pointer;
  border-radius: 40px;
  background-color: #4154FF;
  font-weight: 500;
  font-size: 14px;
}
.blue-button:hover {
  background-color: #ec5a57;
}

.jumbotron {
  height: 570px;
  width: 100%;
  background-color: #060606;
  background-image: linear-gradient(90deg, #060606 45%, rgba(6, 6, 6, 0) 75%), url("../img/slider82x-scaled.jpg");
  background-position: top right;
  background-size: cover;
}
.jumbotron .container-left {
  height: 100%;
  padding: 0 90px;
}
.jumbotron .container-left h3 {
  padding-top: 100px;
  font-size: 27px;
  font-weight: 500;
  color: #ec5a57;
}
.jumbotron .container-left h1 {
  font-size: 75px;
  font-weight: 500;
  color: #ffffff;
}
.jumbotron .container-left span {
  font-size: 23px;
  font-weight: 500;
  color: #bcbcbc;
}
.jumbotron .container-left ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: baseline;
  margin-top: 50px;
}
.jumbotron .container-left ul li {
  font-size: 18px;
}
.jumbotron .container-left ul li:nth-child(2) {
  margin-left: 10px;
}
.jumbotron .container-left ul .trasparent-button {
  padding: 15px 30px;
  color: #ffffff;
  cursor: pointer;
  border-radius: 40px;
  border: 2px solid #bcbcbc;
  font-weight: 500;
}
.jumbotron .container-left ul .trasparent-button:hover {
  background-color: #ffffff;
  border: 2px solid #ffffff;
  color: #000000;
}
.jumbotron .container-left ul i {
  vertical-align: middle;
}
