* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 18px;
}

header {
  height: 100px;
  width: 100%;
  padding: 10px;
  background-color: #060606;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-left img {
  margin-left: 20px;
}

.header-right ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: baseline;
}
.header-right ul li {
  margin: 20px;
}
.header-right ul li a {
  text-decoration: none;
  color: #bcbcbc;
  font-weight: 500;
}
.header-right ul li a:hover {
  color: #ffffff;
}
.header-right ul li span {
  padding: 5px 7px;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 500;
  color: #060606;
  background-color: #FFF941;
}

.blue-button {
  padding: 15px 30px;
  border-radius: 40px;
  color: #ffffff;
  cursor: pointer;
  background-color: #4154FF;
  font-weight: 500;
  font-size: 14px;
}
.blue-button:hover {
  background-color: #ec5a57;
}

.jumbotron {
  height: 570px;
  width: 100%;
  background-color: #060606;
  background-image: linear-gradient(90deg, #060606 45%, rgba(6, 6, 6, 0) 75%), url("../img/slider82x-scaled.jpg");
  background-position: top right;
  background-size: cover;
}
.jumbotron .container {
  padding: 0 90px;
  display: flex;
  flex-direction: row;
}

.jumbo-left h3 {
  padding-top: 100px;
  font-size: 27px;
  font-weight: 500;
  color: #ec5a57;
}
.jumbo-left h1 {
  font-size: 75px;
  font-weight: 500;
  color: #ffffff;
}
.jumbo-left img {
  width: 85px;
}
.jumbo-left p {
  font-size: 25px;
  font-weight: 400;
  color: #bcbcbc;
}
.jumbo-left ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: baseline;
  margin-top: 30px;
}
.jumbo-left ul li {
  font-size: 18px;
}
.jumbo-left ul li:nth-child(2) {
  margin-left: 10px;
}
.jumbo-left ul .trasparent-button {
  padding: 15px 30px;
  border-radius: 40px;
  color: #ffffff;
  cursor: pointer;
  border: 2px solid #bcbcbc;
  font-weight: 500;
}
.jumbo-left ul .trasparent-button:hover {
  background-color: #ffffff;
  border: 2px solid #ffffff;
  color: #000000;
}
.jumbo-left ul i {
  vertical-align: middle;
}

.jumbo-right {
  width: 30%;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.jumbo-right .jumbo-video {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.jumbo-right .jumbo-video i {
  color: #4154FF;
}
.jumbo-right .jumbo-video:hover i {
  color: #ec5a57;
}

.main-top {
  height: 930px;
  width: 100%;
  background-image: linear-gradient(150deg, #0219eb 0%, #d5000b 100%);
}
.main-top .container {
  padding: 0 90px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-top .container .box-image, .main-top .container .box-image2, .main-top .container .box-image3 {
  width: 360px;
  border-radius: 4px 4px 40px 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 400px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: 0.4s;
}
.main-top .container .box-image:hover, .main-top .container .box-image2:hover, .main-top .container .box-image3:hover {
  height: 410px;
  width: 370px;
}
.main-top .container .box-image img, .main-top .container .box-image2 img, .main-top .container .box-image3 img {
  width: 50px;
}
.main-top .container .box-image h5, .main-top .container .box-image2 h5, .main-top .container .box-image3 h5 {
  font-size: 35px;
  font-weight: 500;
  color: #ffffff;
}
.main-top .container .box-image span, .main-top .container .box-image2 span, .main-top .container .box-image3 span {
  font-size: 25px;
  font-weight: 500;
  color: #FFF941;
  margin-bottom: 45px;
}
.main-top .container .box-image {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 11%, rgba(0, 0, 0, 0.7) 100%), url("../img/box1.jpg");
  transform: translateY(-17%);
}
.main-top .container .box-image2 {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 11%, rgba(0, 0, 0, 0.7) 100%), url("../img/box2.jpg");
  transform: translateY(-17%);
}
.main-top .container .box-image3 {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 11%, rgba(0, 0, 0, 0.7) 100%), url("../img/box3.jpg");
  transform: translateY(-17%);
}
.main-top .main-top-text {
  margin: 0 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-top .main-top-text h2 {
  padding-top: 60px;
  font-size: 48px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  line-height: 1.4;
}
.main-top .main-top-text img {
  width: 85px;
}
.main-top .main-top-text ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: baseline;
}
.main-top .main-top-text ul li {
  padding: 0 10px;
  font-size: 22px;
  color: #ffffff;
}
.main-top .main-top-text ul li:first-child img {
  width: 70px;
  border-radius: 50%;
  vertical-align: middle;
}
.main-top .main-top-text ul li:last-child {
  opacity: 0.6;
}

.main-jumbo {
  height: 660px;
  width: 100%;
  background-color: #060606;
  background-image: linear-gradient(90deg, #060606 45%, rgba(6, 6, 6, 0) 75%), url("../img/banner1-2x.jpg");
  background-position: top right;
  background-size: cover;
}
.main-jumbo .container {
  padding: 0 90px;
  display: flex;
  flex-direction: row;
}

.jumbo-section {
  padding-right: 30%;
}
.jumbo-section h3 {
  padding-top: 100px;
  font-size: 27px;
  font-weight: 500;
  color: #ec5a57;
}
.jumbo-section h2 {
  font-size: 58px;
  font-weight: 500;
  color: #ffffff;
}
.jumbo-section img {
  width: 85px;
}
.jumbo-section p {
  font-size: 25px;
  font-weight: 400;
  color: #bcbcbc;
}
.jumbo-section ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: baseline;
  margin-bottom: 30px;
}
.jumbo-section ul li {
  font-size: 18px;
}
.jumbo-section ul input {
  padding: 15px 350px 15px 30px;
  border-radius: 40px;
  margin-right: 15px;
}
.jumbo-section ul i {
  vertical-align: middle;
}

.main-sport {
  height: 530px;
  background-color: #ffffff;
}
.main-sport .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main-sport .container .activities {
  text-align: center;
}
.main-sport .container .activities img:first-child {
  width: 150px;
  padding-top: 80px;
}
.main-sport .container .activities img {
  width: 80px;
}
.main-sport .container .activities p {
  color: gray;
  font-size: 21px;
  padding: 0 35px;
  line-height: 1.5;
}
.main-sport .container .activities p:last-child {
  font-weight: 500;
  padding-top: 45px;
  font-size: 18px;
  color: #000000;
}
.main-sport .container .activities p:last-child i {
  vertical-align: middle;
}

.main-last {
  height: 530px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(151deg, rgba(6, 25, 231, 0.4) 35%, rgba(206, 1, 18, 0.4) 100%), url("../img/banner14-2x.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
.main-last .jumbo-video {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-last .jumbo-video i {
  color: #4154FF;
}
.main-last .jumbo-video:hover i {
  color: #ec5a57;
}
.main-last h2 {
  font-size: 58px;
  font-weight: 500;
  padding: 10px 0;
  color: #ffffff;
}
.main-last p {
  font-size: 38px;
  font-weight: 500;
  color: #FFF941;
}
.main-last a {
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
}

footer {
  background-color: #060606;
}
footer .footer-top {
  height: 560px;
  padding-top: 140px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer .footer-top .brand-identity {
  width: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer-top .brand-identity p {
  padding-top: 40px;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
}
footer .footer-top .brand-identity ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: baseline;
  padding-top: 40px;
}
footer .footer-top .brand-identity ul li {
  padding: 10px;
  color: #ec5a57;
}
footer .footer-top .new-article {
  width: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}
footer .footer-top .new-article h6 {
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
}
footer .footer-top .new-article ul {
  list-style: none;
  text-align: center;
}
footer .footer-top .new-article ul li {
  font-size: 20px;
  padding-top: 32px;
}
footer .footer-top .new-article ul li:hover {
  color: #ec5a57;
}
footer .footer-top .general-information {
  width: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}
footer .footer-top .general-information h6 {
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
}
footer .footer-top .general-information ul {
  list-style: none;
  text-align: center;
}
footer .footer-top .general-information ul li {
  font-size: 20px;
}
footer .footer-top .general-information ul li:first-child {
  padding: 32px 0;
}
footer .footer-bottom {
  height: 100px;
  border-top: 1px solid #bcbcbc;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer .footer-bottom ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: baseline;
  color: #bcbcbc;
}
footer .footer-bottom ul li:nth-child(2n+0) {
  padding: 0 5px;
}
footer .footer-bottom ul span {
  color: #ffffff;
}
footer .footer-bottom ul span:hover {
  color: #ec5a57;
}
