header {
  height: 100px;
  width: 100%;
  padding:10px;
  background-color: $colorCodGrey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  img {
    margin-left: 20px;
  }
}

.header-right {
  display: flex;
  flex-direction: row;
  ul:first-child {
    padding-top: 11px;
  }
  ul {
    @include listInline;
    li {
      margin: 20px;
      a {
        text-decoration: none;
        color: $colorSilver;
        font-weight: 500;
        &:hover{
          color: $colorWhite;
        }
      }
      span {
        padding: 5px 7px;
        margin-left: 10px;
        font-size: 12px;
        font-weight: 500;
        color: $colorCodGrey;
        background-color: $colorYellow;
      }
    }
  }
}
.blue-button {
  @include blueBtn;
  font-size: 14px;
}
