.jumbotron {
  height: 570px;
  width: 100%;
  background-color: $colorCodGrey;
  background-image: linear-gradient(90deg, #060606 45%,rgba(6,6,6,0) 75%),  url("../img/slider82x-scaled.jpg");
  background-position: top right ;
  background-size: cover;
  .container{
    @include widthContainer;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}

.jumbo-left {
  h3 {
    padding-top:100px;
    font-size: 27px;
    font-weight: 500;
    color: $colorOrange;
  }
  h1 {
    font-size: 75px;
    font-weight: 500;
    color: $colorWhite;
  }
  span {
    font-size: 23px;
    font-weight: 500;
    color: $colorSilver;
  }
  ul {
    @include listInline;
    margin-top: 50px;
    li {
      font-size: 18px;
      &:nth-child(2) {
        margin-left: 10px;
      }
    }
    .trasparent-button {
      @include trasparentBtn;
    }
    i {
      vertical-align: middle;
    }
  }
}
.jumbo-right {
  height: 100%;
  width: 30%;
  position: relative;
  .jumbo-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(20%, -84%);
    @include circlePlayer;
    i {
      color:$colorViolet;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &:hover i {
      color: $colorOrange;
    }
  }
}
