.main-top {
  height: 930px;
  width:100%;
  background-image: linear-gradient(150deg, #0219eb 0%,#d5000b 100%);
  .container{
    @include widthContainer;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .box-image, .box-image2, .box-image3 {
      @include boxImg;
      height: 400px;
      padding-left: 30px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      transition: 0.4s;
      &:hover {
        height: 410px;
        width: 370px;
      }
      img {
            width: 50px;
      }
      h5 {
        font-size: 35px;
        font-weight: 500;
        color: $colorWhite;
      }
      span {
        font-size: 25px;
        font-weight: 500;
        color: $colorYellow;
        margin-bottom: 45px;
      }
    }
    .box-image{
      background-image: linear-gradient(180deg, rgba(0,0,0,0) 11%, rgba(0,0,0,0.7) 100%), url("../img/box1.jpg");
      transform: translateY(-17%);
    }
    .box-image2{
      background-image: linear-gradient(180deg, rgba(0,0,0,0) 11%, rgba(0,0,0,0.7) 100%), url("../img/box2.jpg");
      transform: translateY(-17%);
    }
    .box-image3{
      background-image: linear-gradient(180deg, rgba(0,0,0,0) 11%, rgba(0,0,0,0.7) 100%), url("../img/box3.jpg");
      transform: translateY(-17%);
    }
  }
  .main-top-text {
    margin: 0 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      padding-top: 60px;
      font-size: 48px;
      font-weight: 500;
      color: $colorWhite;
      text-align: center;
      line-height: 1.4;
    }
    img {
      width: 85px;
    }
    ul {
      @include listInline;
      li {
        padding:0 10px;
        font-size: 22px;
        color: $colorWhite;
        &:first-child {
          img {
            width: 70px;
            border-radius: 50%;
            vertical-align: middle;
          }
        }
        &:last-child {
          opacity: 0.6;
        }
      }
    }
  }
}
