.main-top {
  height: 930px;
  width:100%;
 background-image: linear-gradient(150deg, #0219eb 0%,#d5000b 100%);
  .container{
    @include widthContainer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .box-image, .box-image2, .box-image3 {
      @include boxImg;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      h5 {
        font-size: 35px;
        font-weight: 500;
        color: $colorWhite;
      }
      span {
        font-size: 25px;
        font-weight: 500;
        color: $colorYellow;
        margin-bottom: 45px;
      }
    }
    .box-image{
      background-image: linear-gradient(180deg, rgba(0,0,0,0) 11%, rgba(0,0,0,0.7) 100%), url("../img/box1.jpg");
    }
    .box-image2{
      background-image: linear-gradient(180deg, rgba(0,0,0,0) 11%, rgba(0,0,0,0.7) 100%), url("../img/box2.jpg");
    }
    .box-image3{
      background-image: linear-gradient(180deg, rgba(0,0,0,0) 11%, rgba(0,0,0,0.7) 100%), url("../img/box3.jpg");
    }
  }
}
