@mixin listInline {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: baseline;
}
@mixin widthContainer {
  padding: 0 90px;
}
@mixin circlePlayer {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: $colorWhite;
}
@mixin boxImg {
  width: 360px;
  border-radius: 4px 4px 40px 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@mixin Btn {
  padding:15px 30px;
  border-radius: 40px;
  color: $colorWhite;
  cursor: pointer;
}
@mixin blueBtn {
  @include Btn;
  background-color: $colorViolet;
  font-weight: 500;
  &:hover {
    background-color: $colorOrange;
  }
}
@mixin trasparentBtn {
  @include Btn;
  border: 2px solid $colorSilver;
  font-weight: 500;
  &:hover {
    background-color: $colorWhite;
    border: 2px solid $colorWhite;
    color: $colorBlack;
  }
}
@mixin redBtn {
  @include Btn;
  background-color: $colorRed;
  font-weight: 500;
  &:hover {
    background-color: rgba(207, 0, 15, 0.5)
  }
}
