@import "partials/_commons";
@import "partials/_variables";
@import "partials/_mixins";
@import "partials/_header";
@import "partials/_jumbotron";
@import "partials/_main";
@import "partials/_main-jumbo";
@import "partials/_main-jumbo2";
@import "partials/_main-sport";
@import "partials/_main-last";
@import "partials/_footer";
